<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VM.FreehandLayerIO" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7692.28463" newVersion="2.0.7692.28463" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VM.Illumination" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7374.22276" newVersion="2.0.7374.22276" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VM.Image" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.25.5650" newVersion="3.0.25.5650" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VM.Progress" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7059.24362" newVersion="2.0.7059.24362" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>